.container{
    padding-left: 20px;
}

@media (min-width:1420px){
   .container{
    max-width:520px;
   } 
}

input.ng-touched.ng-invalid{
    border-left: 10px solid red;  
    box-shadow: rgba(255, 0,0, 0.2);
}

input.ng-valid{
    border-left: 10px solid green;
}